<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13623576433-mvtr5dvemm0aavfirv0vnddjgglgvjrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13623576433-mvtr5dvemm0aavfirv0vnddjgglgvjrh</string>
	<key>API_KEY</key>
	<string>AIzaSyCGdZYuR1KnOs5V2_Q1oQ50iOAV3kslUaI</string>
	<key>GCM_SENDER_ID</key>
	<string>13623576433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cerulean</string>
	<key>PROJECT_ID</key>
	<string>cerulean-86f71</string>
	<key>STORAGE_BUCKET</key>
	<string>cerulean-86f71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13623576433:ios:696f6c26d915a2219e98d0</string>
</dict>
</plist>